 <h1>Hello , {{userData.name}},</h1>
 <p>We Have Sent you ,Your Login Credentials for Ramaera My Card App </p>

<p>Email: {{userData.email}}</p>
<p>Password:{{password}}</p>

<p>
    Thank you for registering. Please Download the MyCard App From Playstore 
  </p>
<p>If you did not request this email you can safely ignore it.</p>
