 <h1>Hello  {{userData.name}}, Welcome to Ramaera My Mart!</h1>
 <p> This is Your Discount Code For Amount ₹ {{Amount}}</p>
 <p><strong>{{CoupounCode}}</strong></p>
<p>
   Please Tell This Code To the Person on Counter,
  </p>
<p>If you did not request this email, Kindly Contact Your Agency Holder</p>
